# Web default can use localhost.
# Physical iOS / Android devices must use your computer LAN IP.
#
# Example:
# EXPO_PUBLIC_API_BASE_URL=http://192.168.1.23:4000
EXPO_PUBLIC_API_BASE_URL=http://localhost:4000
